* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "JetBrains Mono";
    background-color: #2E2E2E;
    color: #EEEEEE;
}

header {
    width: 100%;
    color: #2E2E2E;
    font-weight: bolder;
}

header p {
    padding: .5em;
    font-size: 32px;
    font-weight: bold;
    background-color: #5294E2;
    text-align: center;
}

nav ul {
    overflow: hidden;
    list-style-type: none;
    background-color: #2E2E2E;
    border: #2E2E2E;
    border-style: solid;
    border-width: 0 3px 0 3px;
}

nav ul li {
    float: left;
    width: 25%;
    border: #2E2E2E;
    border-style: solid;
    border-width: 2px 0 2px 0;
}

nav ul li a {
    color: #EEEEEE;
    text-decoration: none;
    display: block;
    height: 50px;
    overflow: hidden;
    background-color: #FF4D4D;
}

nav ul li a:hover {
    filter: grayscale(50%);
}

nav ul li a:active {
    filter: grayscale(100%);
}

nav ul li a p {
    padding: 1em;
    width: 100%;
    text-align: center;
    color: #2E2E2E;
    font-weight: bolder;
}

nav ul li a p.alignment {
    margin-left: 60px;
}

nav ul li a img {
    float: left;
    height: 50px;
    width: 50px;
}

.dropmenu {
    position: absolute;
    background-color: #FF4D4D;
    width: 25%;
    display: none;
    border: #2E2E2E;
    border-style: solid;
    border-width: 0 2px 2px 2px;
    padding: 0.5em;
}

.dropdown:hover .dropmenu {
    display: block;
}

.dropdown .dropmenu a {
    border: #2E2E2E;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.dropdown .dropmenu p {
    text-align: left;
}

#main {
    overflow: hidden;
    padding: 1em;
}

#textarea, #messages {
    width: 50%;
    float: left;
    
}

#textarea {
    background-color: #FF4D4D;
    border: #2E2E2E;
    border-style: solid;
    border-width: 2px;
    padding: 1em;
}

#messages {
    background-color: #FF4D4D;
    border: #2E2E2E;
    border-style: solid;
    border-width: 2px;
    padding: 1em;
}

#notepad {
    font-family: "JetBrains Mono";
    width: 100%;
    padding: .5em;
    font-size: 15px;
    resize: none;
    border: #2E2E2E;
    border-style: solid;
    border-width: 2px;
}

#messages ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FF4D4D;
    border: #2E2E2E;
    border-style: solid;
    border-width: 0 2px 2px 2px;
}

#messages ul li {
    width: 100%;
    height: 100%;
    background-color: #FF4D4D;
    text-align: center;
    padding: 0.5em;
    user-select: none;
    cursor: pointer;
    color: #2E2E2E;
    font-weight: bolder;
    background-color: #FF4D4D;
    border: #2E2E2E;
    border-style: solid;
    border-width: 2px 0 2px 0;
}

#messages ul li:hover {
    filter: grayscale(50%);
}

#messages ul li:active {
    filter: grayscale(100%);
}

#old-farewell, #new-farewell {
    width: 100%;
    padding: 5px;
    border: none;
    font-family: "JetBrains Mono";
    font-size: 13px;
    box-sizing: border-box;
    resize: none;
    display: flex;
}

#lesson-notes {
    width: 100%;
    padding: 5px;
    border: none;
    font-family: "JetBrains Mono";
    font-size: 13px;
    box-sizing: border-box;
    resize: none;
    display: flex;
}

footer {
    width: 100%;
    padding: 0;
    margin: 0;
}

footer ul {
    overflow: hidden;
    list-style-type: none;
    background-color: #5294E2;
}

footer ul li {
    float: left;
    padding: 1em 2.7em;
}

footer ul li a abbr img {
    height: 40px;
    width: 60px;
    display: flex;
}

footer ul li a abbr img:hover {
    filter: grayscale(50%);
}

footer ul li a abbr img:active {
    filter: grayscale(100%);
}